body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: auto;
    font-family: "Poppins", sans-serif;
  }
  /* --------nav bar -------- */
  .navigation {
    position: fixed;
    display: grid;
    grid-template-columns: 3% auto;
    height: 70px;
    background: #1d1e25;
    top: 0px;
  }
  
  .logo {
    height: 50%;
    width: 100%;
    padding: 20px 0px 0px 10px;
  }
  .nav-items {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 10px;
  }
  .item-title {
    display: grid;
    grid-template-rows: auto auto;
    margin-left: 20px;
    font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif !important;
    font-weight: 400;
    font-size: 15px;
    height: 100%;
  }
  .fcc {
    color: white;
  }
  
  .pen {
    color: #9a9cac;
  }
  .free {
    color: white;
  }
  .btn-1 {
    border: 3px solid #9a9cac;
    border-radius: 2px;
    background: transparent;
    margin: 0px 10px 0px 0px;
    padding: 5px 16px;
  }
  .btn-2 {
    border-radius: 3px;
  
    color: white;
    font-size: 15px;
    font-weight: 400;
    padding: 6px 16px;
    margin: 0px 10px 0px 0px;
    border: 0.1px solid #5a6074;
    background-color: hsl(226, 22%, 45%);
  }
  .btn-3 {
    border-radius: 2px;
    background: transparent;
    margin: 0px 10px 0px 0px;
    padding: 5px 16px;
    border: 3px solid #9a9cac;
  }
  
  
  .btn-4 img {
    height: 40px;
    width: 40px;
  }

/* --------body-------- */
