body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: auto;
  font-family: "Poppins", sans-serif;
}

.navigation {
  position: fixed;
  display: grid;
  grid-template-columns: 3% auto;
  height: 70px;
  background: #1d1e25;
  top: 0px;
}

.logo {
  height: 50%;
  width: 100%;
  padding: 20px 0px 0px 10px;
}
.nav-items {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 10px;
}
.item-title {
  display: grid;
  grid-template-rows: auto auto;
  margin-left: 20px;
  font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif !important;
  font-weight: 400;
  font-size: 15px;
  height: 100%;
}
.fcc {
  color: white;
}

.pen {
  color: #9a9cac;
}
.free {
  color: white;
}
.btn-1 {
  border: 3px solid #9a9cac;
  border-radius: 2px;
  background: transparent;
  margin: 0px 10px 0px 0px;
  padding: 5px 16px;
}
.btn-2 {
  border-radius: 3px;

  color: white;
  font-size: 15px;
  font-weight: 400;
  padding: 6px 16px;
  margin: 0px 10px 0px 0px;
  border: 0.1px solid #5a6074;
  background-color: hsl(226, 22%, 45%);
}
.btn-3 {
  border-radius: 2px;
  background: transparent;
  margin: 0px 10px 0px 0px;
  padding: 5px 16px;
  border: 3px solid #9a9cac;
}


.btn-4 img {
  height: 40px;
  width: 40px;
}
/* ---------body--------- */

.main-page {
  height: auto;
  background: url("https://images.unsplash.com/flagged/photo-1574164908900-6275ca361157?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  margin: auto;
  text-align: center;
  padding-top: 80px;
  /* opacity: 0.5; */
}

#title {
  color: white;
  font-weight: 400;
  line-height: 1.2;
  font-size: 34px;
  /* opacity: 1 !important; */
}
#description {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

label {
  padding-top: 20px;
  font-size: 17px;
}
#survey-form {
  background: rgb(26, 26, 50);
  background-color: hsl(60, 11%, 15%);
  opacity: 0.7;
  width: 50%;
  margin: auto;
  padding: 30px 20px 0px 20px;
  text-align: start;
  color: white;
  font-weight: 400;
  height: auto;
}

#name {
  width: 100%;
  padding: 10px 20px;
  /* margin: 10px auto; */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  justify-content: start;
 
}

#email {
  width: 100%;
  padding: 10px 20px;
  margin: auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  justify-content: start;
}

#number {
  width: 100%;
  padding: 10px 20px;
  margin: 10px auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  justify-content: start;
  color: black;
}

#dropdown {
  width: 100%;
  padding: 10px 20px;
  margin: 10px auto;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  justify-content: start;
  color: black;

}

#submit {
  width: 100%;
  padding: 10px 20px;
  margin: 10px auto;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgb(71, 25, 9);
  text-align: center;
  font-weight: 600;
}
.check label{
   padding-top: 0px;
}